html, body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #FFFFFF; /* White background */
  color: #303030; /* Dark text for readability */
}

a {
  color: #FF0000; /* Brand red for links */
  text-decoration: none;
}

/* Apply red color to primary buttons */
button.MuiButton-containedPrimary {
  background-color: #FF0000;
  color: #FFFFFF;
}

/* Style for headers, if needed */
h1, h2, h3, h4, h5, h6 {
  color: #303030; /* Neutral color for headers */
}

* {
  box-sizing: border-box;
}